<%-include("partial/header")%>
<!-- home page main image -->
<div class="main_image" style="background-image: url('/images/Full Body/_D4B0803 copy.jpg')">
  <div class="header_clear"></div>

  <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h2>"An educator, an advocate <br>
        and an outstanding musician <br>
         in his own right." <br>
        <p class="Roboto">– Signals (Arizona)</p></h2>
      </div>
      <div class="carousel-item">
        <h2>"Swinging standards... <br>
          with genteel grace"<br>
          <p class="Roboto">– Chicago Reader</p></h2>
      </div>
      <div class="carousel-item">
        <h2>"Great music, funny videos, <br>
          and oh so smooth" <br>
          <p class="Roboto">– Doug W.</p></h2>
      </div>
      <div class="carousel-item">
        <h2>"High quantities of <br>
          tubular smoothitude" <br>
          <p class="Roboto">– Eli H.</p></h2>
      </div>
      <div class="carousel-item">
        <h2>Awesome tuba playing and <br>
          really creative and fun video! <br>
          <p class="Roboto">– Diana M.</p></h2>
      </div>
      <div class="carousel-item">
        <h2>"What can I say other than" <br>
          'this is absolutely amazing.' <br>
          <p class="Roboto">– Rachel T.</p></h2>
      </div>
      <div class="carousel-item">
        <h2>"Outstanding." <br>
          <p class="Roboto">– Laura M.</p></h2>
      </div>
      <div class="carousel-item">
        <h2>"I love it!" <br>
          <p class="Roboto">– Wayne G.</p></h2>
      </div>
      <div class="carousel-item">
        <h2>"So smooth brotha" <br>
          <p class="Roboto">– Bryan M.</p></h2>
      </div>
      <div class="carousel-item">
        <h2>"Genius" <br>
          <p class="Roboto">– Neil K.</p></h2>
      </div>
      <div class="carousel-item">
        <h2>"I laughed. I cried. <br>
          I made a grilled <br>
          cheese sandwich." <br>
          <p class="Roboto">– Makool Sr.</p></h2>
      </div>
    </div>
  </div>
  <a href="#Media">
    <h3 class="sliding_text" id="no_underline" style="position:absolute; left:80%; text-align:center; top:75%; border-style:solid; display:block; width:20%; margin-right:50px margin-left:auto">Watch me <br> play!
    <img style="width:10%" src="images/Down Arrow.png"></img></h3>
</a>
</div>
<!-- Other pages -->

<div style="display:inline-block; width:24%; margin:auto; text-align:center">
<h4>Tuba/Piano Player, Presidio Brass</h2>
<a href="https://www.Presidiobrass.com">
  <img style="width:75%; margin:auto" src="images/Logos/Presidio Brass Logo.png" alt="Presidio Brass"></a>
</div>
<div style="display:inline-block; width:24%; margin:auto; text-align:center">
<h4 style="vertical">Co-founder, Slapsauce Music</h2>
<a href="https://www.Slapsauce.com">
  <img style="width:80%; margin:auto" src="images/Logos/slapsauce.png" alt="Slapsauce Music"></a>
</div>
<div style="display:inline-block; width:24%; margin:auto; text-align:center">
<h4 style="margin-top:20px">Tuba Player, Chicago Freedom Ensemble</h2>
<a href="https://linktr.ee/chicagofreedomensemble">
  <img style="width:35%; margin:auto" src="images/Logos/Chicago Freedom Ensemble.png" alt="Chicago Freedom Ensemble"></a>
</div>
<div style="display:inline-block; width:24%; margin:auto; text-align:center">
<h4>XO Brass Professional Performing Artist</h2>
<a href="https://www.xobrass.com/us/artists/mike-frasier?q=frasier">
  <img style="width:75%; margin:auto" src="images/Logos/XO Brass.png" alt="XO Brass Professional Artist"></a>
</div>
<hr id="Media">
<div>
<%- include("media main.ejs")%>
</div>
<%- include("bio main.ejs")%>
<hr>
<%- include("news main.ejs")%>
<hr>
<%- include("education main.ejs")%>
<hr>
<!-- FOOTER -->
<%-include("partial/footer")%>
